.Admin form{
    width: 274px;
    border: 1px solid;
    text-align: left;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 3px 3px 3px black;
    border-radius: 10px;
}

.Admin input,
.Admin button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.Admin img {
    width: 100%;
}

.Admin textarea {
    resize: none;
}