.VacationsList {}

.VacationsList .vacations-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin: 60px 150px;
}

.VacationsList .VacationCard:hover {
    scale: 1.03;
}
.VacationsList h1{
    text-align: left;
    padding: 0px 180px;
    margin: 30px 0px;
    font-size: 32px;
}