.VacationsList {}

.VacationsList .vacations-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin: 60px 150px;
}

.VacationsList .VacationCard:hover {
    scale: 1.03;
}