.VacationsList .vacations-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin: 60px 150px;
}

.VacationsList .VacationCard:hover {
    scale: 1.03;
}

.VacationsList h1 {
    text-align: left;
    padding: 0px 180px;
    margin: 30px 0px;
    font-size: 32px;
    margin-bottom: 0px;
}

.VacationsList .general-info {
    text-align: left;
    padding: 0px 180px;
    display: flex;
    justify-content: space-between;
}

.VacationsList .filter-headers {
    display: flex;
    justify-content: space-between;
    height: 55px;
    padding: 0px 10px;
}

.VacationsList h2 {
    font-size: 24px;
    margin: 10px 0px;
    color: #F6F1F1;
    display: flex;
    align-items: center;
}

.VacationsList h2 svg {
    color: #F6F1F1;
    padding-right: 3px;
}

.VacationsList .filter {
    width: 1300px;
}

.VacationsList .filter:hover,
.VacationsList .reset:hover {
    cursor: pointer;
}

.VacationsList .results {
    color: gray;
    font-weight: 400;
}

.VacationsList .filter-container {
    overflow: hidden;
    min-width: 410px;
    background-color: #2e6ba0;
    margin: 0px 180px;
    height: 55px;
    border: 2px solid #1a5785;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.VacationsList .filter-hidden-content {
    padding: 0px 10px;
    margin-top: 12px;
}

.VacationsList .autocompletes {
    display: flex;
    justify-content: space-evenly;
}

.VacationsList .MuiInputBase-root {
    background-color: #F6F1F1 !important;
}

.VacationsList .filter-container .autocompletes .MuiFormLabel-root,
.VacationsList .filter-container .autocompletes .MuiSvgIcon-root {
    color: #1a5785 !important;
}

.MuiInputLabel-outlined {
    background-color: #F6F1F1;
}

.VacationsList .accordion-open {
    animation: accordionOpen 200ms forwards;
}

.VacationsList .accordion-close {
    animation: accordionClose 200ms forwards;
}

.VacationsList .vacations-container>span {
    margin-top: 120px;
}

.vacations-container ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -30px;
}

.vacations-container ul li {
    box-sizing: border-box;
    line-height: 30px;
    margin: 5px;
    background-color: #2e6ba0;
    border: 2px solid #2e6ba0;
    color: #F6F1F1;
    cursor: pointer;
    border-radius: 50%;
    border-radius: 14px;
}

.vacations-container ul li a {
    display: inline-block;
    width: 29px;
    height: 29px;
    padding: 3px;
}

.vacations-container ul li[class="selected"] {
    background-color: #F6F1F1;
    color: #2e6ba0;
    border: 2px solid #2e6ba0;
}

.VacationsList .headers-container {
    padding: 0px 180px;
    height: 69px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.VacationsList .headers-container h1,
.VacationsList .headers-container a {
    margin: 0px;
    padding: 0;
    padding-top: 30px;
}

.VacationsList .headers-container a {
    padding: 4px 8px;
    margin-top: 30px;
    text-decoration: none;
    border: 2px solid #1a5785;
    color: #F6F1F1;
    background-color: #2e6ba0;
    border-radius: 14px;
    font-weight: 500;
    transition: 200ms;
}

.VacationsList .headers-container a:hover {
    cursor: pointer;
    padding: 4px 8px;
    background-color: #F6F1F1;
    color: #2e6ba0;
    border: 2px solid #2e6ba0;
}

@keyframes accordionOpen {
    0% {
        height: 55px;
    }
    100% {
        height: 175px;
    }
}

@keyframes accordionClose {
    0% {
        height: 175px;
    }
    100% {
        height: 55px;
    }
}