.DeleteButton {
    width: 45px;
    height: 45px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid darkred;
    border-right: 0;
    color: #F6F1F1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: slideOut 150ms forwards;
}

.DeleteButton span {
    width: 0;
    overflow: hidden;
}

.VacationCard .DeleteButton:hover {
    -webkit-animation: slideIn 200ms forwards;
    cursor: pointer;
}

.VacationCard .DeleteButton:hover span {
    width: 100px;
}

.VacationCard .DeleteButton:hover svg {
    animation: rotateY 1500ms linear;
}

.VacationCard .DeleteButton svg {
    width: 25px;
    height: 25px;
}

.VacationCard .DeleteButton svg:hover {
    animation: rotateY 1500ms linear infinite;
}

@keyframes slideIn {
    0% {
        width: 45px;
        justify-content: center;
    }

    100% {
        width: 100px;
        justify-content: flex-end;
        padding-right: 4px;
    }
}

@keyframes rotateY {
    0% {}

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes slideOut {
    0% {
        width: 100px;
    }

    100% {
        width: 45px;
    }
}