.Layout {
  height: fit-content;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(6, 1fr);
  background-color: #F6F1F1;
}
.Layout *{
  font-size: 22px;
}
.Layout nav,
.Layout main,
.Layout footer{
  grid-column: span 6;
}
.Layout nav{
  /* height: 75px; */
}