.Layout {
  height: fit-content;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(6, 1fr);
}
.Layout *{
  grid-column: span 6;
  font-size: 22px;
}
.Layout nav{
  /* height: 75px; */
}