@font-face {
  font-family: GlacialIndifference;
  src: url("../../../Assets/Fonts/glacial-indifference.regular.otf") format("opentype");
}

.Layout {
  height: fit-content;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(6, 1fr);
  background-color: #F6F1F1;
}

.Layout * {
  font-size: 22px;
  font-family: GlacialIndifference;
}

.Layout h1 {
  font-size: 32px;
}

.Layout nav,
.Layout main,
.Layout footer {
  grid-column: span 6;
}

.Layout nav {
  width: 100%;
  position: fixed;
  z-index: 9;
}

.Layout main {
  margin-top: 75px;
  min-height: 69vh;
}