.EditButton {
    width: 45px;
    height: 45px;
    border-radius: 00px 10px 10px 0px;
    border: 2px solid #2e6ba0;
    border-left: 0;
    color: #2e6ba0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #F6F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: slideOut 150ms forwards;
}

.EditButton span {
    width: 0;
    overflow: hidden;
}

.VacationCard .EditButton:hover {
    -webkit-animation: slideIn 200ms forwards;
}

.VacationCard .EditButton:hover span {
    width: 100px;
}

.VacationCard .EditButton:hover svg {
    animation: rotate 1500ms linear;
}

.VacationCard .EditButton svg {
    width: 25px;
    height: 25px;
}

.VacationCard .EditButton svg:hover {
    animation: rotate 1500ms linear infinite;
}

@keyframes slideIn {
    0% {
        width: 45px;
        justify-content: center;
    }

    100% {
        width: 100px;
        justify-content: flex-end;
        padding-right: 10px;
    }
}

@keyframes rotate {
    0% {}

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideOut {
    0% {
        width: 100px;
    }

    100% {
        width: 45px;
    }
}