.LikeButton {
    width: 45px;
    height: 45px;
    border-radius: 0px 10px 10px 0px;
    border: 2px solid #2e6ba0;
    border-left: 0;
    color: #2e6ba0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #F6F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: slideOut 150ms forwards;
}

.LikeButton span {
    width: 0;
    overflow: hidden;
}

.VacationCard .LikeButton:hover {
    -webkit-animation: slideIn 200ms forwards;
    cursor: pointer;
}

.VacationCard .LikeButton:hover span {
    width: 100px;
    font-size: 20px;
    margin-left: -3px;
}

.VacationCard .LikeButton:hover svg {
    animation: rotateY 1500ms linear;
}

.VacationCard .LikeButton svg {
    width: 25px;
    height: 25px;
}

.VacationCard .LikeButton svg:hover {
    animation: rotateY 1500ms linear infinite;
}

@keyframes slideIn {
    0% {
        width: 45px;
        justify-content: center;
    }

    100% {
        width: 100px;
        justify-content: flex-end;
        padding-right: 10px;
    }
}

@keyframes rotateY {
    0% {}

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes slideOut {
    0% {
        width: 100px;
    }

    100% {
        width: 45px;
    }
}