.Register {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Register .form-container {
    text-align: left;
    width: 250px;
    border: 1px solid;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
    box-shadow: 3px 3px 3px black;
}

.Register input,
.Register button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.Register h2 {
    margin-top: 0;
}